#footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(200, 200, 200);
    border-top: 1px solid black;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#footer * {
    padding: 5px;
}

.footer-link {
    text-decoration: underline;
    text-decoration-color: rgb(80, 80, 160);
    transition: all 0.2s;
}

.footer-link:hover {
    cursor: pointer;
    text-decoration: none;
    color: rgb(40, 40, 255);
}