#header {
    background-color: rgb(200, 200, 200);
    border-bottom: 1px rgb(50, 50, 50) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(80, 80, 80);
}

#header * {
    transition: all 0.1s;
}

#user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#user-info * {
    border-left: 1px solid black;
    padding: 5px;
}

#user-info *:hover {
    background-color: rgb(150, 150, 150);
    color: black;
    cursor: pointer;
}

#quiz-icon {
    padding: 5px;
}

#quiz-icon:hover {
    cursor: pointer;
}

#quizzes-button {
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 100%;
    padding: 5px;
}

#quizzes-button:hover {
    background-color: rgb(150, 150, 150);
    color: black;
    cursor: pointer;
}

#login {
    border-left: 1px solid black;
    padding: 5px;
}

#login:hover {
    background-color: rgb(150, 150, 150);
    color: black;
    cursor: pointer;
}


