#quiz-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px gray solid;
    border-top-color: lightgray;
    border-left-color: lightgray;
    box-shadow: 0px 0px 10px 10px lightgray;
    margin: 20px;
    padding: 20px;
    margin-bottom: 50px;
}

#quiz-content * {
    margin: 5px;
}

#questions-container {
    text-align: center;
}

.question-input {
    display: flex;
    justify-content: center;
}

.question-input.answer-type-choice {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}